* {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #2B2B26;
}

h1 {
    background-color: #F7F70E;
    margin: 30px 0px;
    padding: 15px;
}

h2 {
    margin-top: 150px;
    font-size: 38px;
    color: white;
}

body p {
    font-size: 50px;
    color: white;
    margin: 30px;
}

#number {
    font-size: 50px;
    margin: 35px 0px;
    color: white; 
}

button {
    font-size: 30px;
    margin: 50px 20px;
    cursor: pointer;
    background-color: #f7f70e;
    padding: 20px;
}

li {
    color: white;
    font-size: 26px;
    padding: 15px 0px;
}

.prev_hrs {
    list-style: none;
}

#average {
    position: relative;
    bottom: 325px;
    left: 120px
}

#loaded {
    position: relative;
    left: 100px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
