:root {
    --black: #2B2B26;
    --yellow: #f7f70e;
}

* {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: var(--black);
}

h1 {
    padding: 15px;
    text-align: left;
}

#navbar {
    background-color: var(--yellow);
    height: 60px;
}

#nav-links {
    position: relative;
    list-style: none;
    display: inline-flex;
    bottom: 57px;
    left: 340px;
}

#nav-links > li {
    color: var(--black);
    font-family: 'Trebuchet MS', sans-serif;
    padding: 14px 20px;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: var(--black);
}

h2 {
    margin-top: 150px;
    font-size: 38px;
    color: white;
}

body p {
    font-size: 50px;
    color: white;
    margin: 30px;
}

#number {
    font-size: 50px;
    margin: 35px 0px;
    color: white; 
}

button {
    font-size: 30px;
    margin: 50px 20px;
    cursor: pointer;
    background-color: var(--yellow);
    padding: 20px;
}

li {
    color: white;
    font-size: 26px;
    padding: 15px 0px;
}

.prev_hrs {
    list-style: none;
}

#average {
    text-align: center;
}

#loaded {
    position: relative;
    bottom: 40px
}

#avg_section {
    height: 130px
}

#log_section {
    height: 130px
}

#timer_section {
    position: relative;
    bottom: 597px;
    right: 370px;
}

#reset_btn {
    margin-top: 0;
}

p {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

footer {
    padding: 20px;
    margin-top: 100px;
    background-color: black;
}

.footer-text {
    font-size: 24px;
    padding: 10px 0px;
    margin: 0px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
