:root {
    --black: #2B2B26;
    --yellow: #f7f70e;
}

* {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: var(--black);
}

h1 {
    text-align: left;
}

#nav-container {
    display: flex;
}

.nav-box-1 {
    flex-grow: 1;
}

.nav-box-2 {
    align-items: center;
}

#navbar {
    background-color: var(--yellow);
    height: 60px;
}

.nav-links {
    color: var(--black);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 14px 20px;
    cursor: pointer;

    transition: transform 0.3s
}

.nav-links:hover {
    transform: translateX(5px);
}

.nav-link {
    text-decoration: none;
    color: black;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.c-1-box-1 {
    order: 2;
}

.c-1-box-2 {
    order: 3;
}

.c-1-box-3 {
    order: 1;
}

h2 {
    margin-top: 150px;
    font-size: 50px;
    color: white;
}

body p {
    font-size: 50px;
    color: white;
    margin: 30px;
}

#number {
    font-size: 70px;
    margin: 35px 0px;
    color: white; 
}

#logged-txt {
    font-size: 40px;
}

button {
    font-size: 30px;
    margin: 50px 20px;
    cursor: pointer;
    background-color: var(--yellow);
    padding: 20px;
    border-radius: 25px;

    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    transform: translateY(-10px);
    background-color: white;
}

li {
    color: white;
    font-size: 26px;
    padding: 15px 0px;
}

.prev_hrs {
    list-style: none;
}

#reset_btn {
    margin-top: 0;
}

p {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

footer {
    padding: 20px;
    margin-top: 100px;
    background-color: black;
}

.footer-text {
    font-size: 24px;
    padding: 10px 0px;
    margin: 0px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
